/* admin.css */

/* Importação da fonte 'Nunito' */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap');

/* Variáveis Globais */
:root {
    --color-primary: #E1A95F; /* Cor escolhida da logo */
    --color-secondary: #FF0000; /* Vermelho */
    --color-dark: #333333; /* Cinza escuro */
    --color-light: #FFFFFF; /* Branco */
    --color-text: #000000; /* Preto */
    --font-primary: 'Nunito', sans-serif;
}

/* Estilos Globais */
body, h1, h2, h3, h4, h5, h6, .navbar-brand, .nav-link {
    font-family: var(--font-primary);
    color: var(--color-text);
}

/* Cabeçalho */
header {
    background-color: var(--color-primary);
    color: var(--color-light);
    text-align: center;
    padding: 1rem 0;
}

.logo-header {
    height: 60px;
    margin-bottom: 0.5rem;
}

/* Estilização do formulário para corresponder ao estilo do site */
.form-control, .form-control-file {
    border: 2px solid var(--color-dark);
    border-radius: 0.25rem;
    padding: 0.5rem;
}

/* Botões Primários */
.btn-primary {
    background-color: var(--color-secondary);
    border: none;
    color: var(--color-light);
    padding: 0.75rem 1.25rem;
    margin-top: 1rem;
}

.btn-primary:hover {
    background-color: darken(var(--color-secondary), 10%);
}

/* Rodapé */
footer {
    background-color: var(--color-dark);
    color: var(--color-light);
    padding: 1rem;
    text-align: center;
}

/* Responsividade */
@media (max-width: 992px) {
    .navbar-brand {
        font-size: 1rem;
    }

    header .logo-header {
        height: 40px;
    }
}
